# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.vsidx
*.db-shm
*.db
*.db
.vs/BinaryCalc/v17/ipch/AutoPCH/c5356e4d44c5fcf6/VCTMP1412_252125.BINARYCALC.00000000.ipch
.vs/BinaryCalc/v17/ipch/AutoPCH/689c229f536bef8f/BINCALCPAVEL.ipch
.vs/BinaryCalc/v17/DocumentLayout.json
.vs/BinaryCalc/v17/Browse.VC.opendb
.vs/BinaryCalc/v17/Browse.VC.db-wal
.vs/BinaryCalc/v17/Browse.VC.db
.vs/BinaryCalc/v17/.suo
.vs/BinaryCalc/FileContentIndex/79c3f86f-e42f-4447-b910-29c0e7c0c109.vsidx
BinaryCalc/x64/Debug/BinaryCalc.exe.recipe
BinaryCalc/x64/Debug/BinaryCalc.ilk
BinaryCalc/x64/Debug/BinaryCalc.log
BinaryCalc/x64/Debug/BinaryCalc.tlog/BinaryCalc.lastbuildstate
BinaryCalc/x64/Debug/BinaryCalc.tlog/CL.command.1.tlog
BinaryCalc/x64/Debug/BinaryCalc.tlog/Cl.items.tlog
BinaryCalc/x64/Debug/BinaryCalc.tlog/CL.read.1.tlog
BinaryCalc/x64/Debug/BinaryCalc.tlog/CL.write.1.tlog
BinaryCalc/x64/Debug/BinaryCalc.tlog/link.command.1.tlog
BinaryCalc/x64/Debug/BinaryCalc.tlog/link.read.1.tlog
BinaryCalc/x64/Debug/BinaryCalc.tlog/link.secondary.1.tlog
BinaryCalc/x64/Debug/BinaryCalc.tlog/link.write.1.tlog
BinaryCalc/x64/Debug/vc143.idb
BinaryCalc/x64/Debug/vc143.pdb
x64/Debug/BinaryCalc.pdb
.vs/BinaryCalc/v17/DocumentLayout.json
.vs/BinaryCalc/v17/Browse.VC.db
.vs/BinaryCalc/v17/.suo
.vs/BinaryCalc/FileContentIndex/79c3f86f-e42f-4447-b910-29c0e7c0c109.vsidx
.vs/BinaryCalc/v17/DocumentLayout.json
.vs/BinaryCalc/v17/Browse.VC.db
.vs/BinaryCalc/v17/.suo
.vs/BinaryCalc/FileContentIndex/79c3f86f-e42f-4447-b910-29c0e7c0c109.vsidx
.vs/BinaryCalc/v17/ipch/AutoPCH/74782f19829a100/VCTMP1412_188860.BINARYCALC.00000000.ipch
.vs/BinaryCalc/v17/ipch/AutoPCH/6eeadbd2df0df3cb/BINARYCALC.ipch
.vs/BinaryCalc/v17/DocumentLayout.json
.vs/BinaryCalc/v17/Browse.VC.db
.vs/BinaryCalc/v17/.suo
.vs/BinaryCalc/FileContentIndex/79c3f86f-e42f-4447-b910-29c0e7c0c109.vsidx
.vs/BinaryCalc/v17/ipch/AutoPCH/6eeadbd2df0df3cb/BINARYCALC.ipch
.vs/BinaryCalc/v17/DocumentLayout.json
.vs/BinaryCalc/v17/Browse.VC.db
.vs/BinaryCalc/v17/.suo
.vs/BinaryCalc/FileContentIndex/79c3f86f-e42f-4447-b910-29c0e7c0c109.vsidx
.vs/BinaryCalc/v17/ipch/AutoPCH/6eeadbd2df0df3cb/BINARYCALC.ipch
.vs/BinaryCalc/v17/DocumentLayout.json
.vs/BinaryCalc/v17/Browse.VC.db
.vs/BinaryCalc/v17/.suo
.vs/BinaryCalc/FileContentIndex/79c3f86f-e42f-4447-b910-29c0e7c0c109.vsidx
.vs/BinaryCalc/v17/ipch/AutoPCH/6eeadbd2df0df3cb/BINARYCALC.ipch
.vs/BinaryCalc/v17/DocumentLayout.json
.vs/BinaryCalc/v17/Browse.VC.db
.vs/BinaryCalc/v17/.suo
.vs/BinaryCalc/FileContentIndex/79c3f86f-e42f-4447-b910-29c0e7c0c109.vsidx
*.db
BinaryCalc/x64/Debug/binarycalc.obj.enc
.vs/BinaryCalc/v17/ipch/AutoPCH/6eeadbd2df0df3cb/BINARYCALC.ipch
.vs/BinaryCalc/v17/DocumentLayout.json
.vs/BinaryCalc/v17/Browse.VC.db
.vs/BinaryCalc/v17/.suo
.vs/BinaryCalc/FileContentIndex/79c3f86f-e42f-4447-b910-29c0e7c0c109.vsidx
.vs/BinaryCalc/v17/ipch/AutoPCH/44d197ac20b2ead8/VCTMP4708_843950.BINARYCALC.00000000.ipch
.vs/BinaryCalc/v17/DocumentLayout.json
.vs/BinaryCalc/v17/Browse.VC.db
.vs/BinaryCalc/v17/.suo
.vs/BinaryCalc/v17/DocumentLayout.json
.vs/BinaryCalc/v17/Browse.VC.db
.vs/BinaryCalc/v17/.suo
*.json
